/**
 * * * Vaiables and Defaults * * *
**/
/*Root Variables*/
:root{
  --dark-blue: #007bff;
  --dark-red: #E01010;
  --dark-lt-blue: #00BFAF;
  --dark-lt-green: #00BF50;
  --dark-lt-yellow: #E0E300;
  --dark-lt-red: #ED1E14;
  --almost-purple: #3a56d4;
  --calm-red: #dc3545;
  --sad-grey: #343a40;

  --dosis: 'Dosis', sans-serif;
  --allerta: 'Allerta Stencil', sans-serif;
}
/*Page defaults*/
*,
::after,
::before{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: #fff;
  color:#2d2d2d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--dosis);
}
a{
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--dark-blue);
}
a:hover{
  color: #0062cc;
}
.img-responsive{
  max-width: 100%;
  display: block;
  height: auto;
}

/*Grid Classes*/
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto
}
.grid-row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.grid-2{-webkit-box-flex:0;-ms-flex:0 0 16.667%;flex:0 0 16.667%;max-width:16.667%}
.grid-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.grid-4{-webkit-box-flex:0;-ms-flex:0 0 33.33%;flex:0 0 33.33%;max-width:33.33%}
.grid-5{-webkit-box-flex:0;-ms-flex:0 0 41.667%;flex:0 0 41.667%;max-width:41.667%}
.grid-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.grid-7{-webkit-box-flex:0;-ms-flex:0 0 58.33%;flex:0 0 58.33%;max-width:58.33%}
.grid-8{-webkit-box-flex:0;-ms-flex:0 0 66.667%;flex:0 0 66.667%;max-width:66.667%}
.grid-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.grid-10{-webkit-box-flex:0;-ms-flex:0 0 83.33%;flex:0 0 83.33%;max-width:83.33%}
.grid-11{-webkit-box-flex:0;-ms-flex:0 0 91.667%;flex:0 0 91.667%;max-width:91.667%}
.grid-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

/**
 * * * HERO SECTION * * *
**/
.hero-header {
  position: relative;
  padding: 1.5em 1em;
  border-bottom: 1px solid #ededed;
}
/*Navigation*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;c
      -ms-flex-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.navbar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
}

a.navbar-link {
  position: relative;
  color: #2d2d2d;
  display: block;
}
a.navbar-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 35%;
  background: rgba(0, 123, 255, 0.47);
  height: 42%;
  display: block;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
a.navbar-link:hover::after {
  width: 100%;
  opacity: 1;
}
li.navbar-list--item {
  position: relative;
  display: block;
}

a.navbar-link:hover {
  color: var(--dark-blue);
}
.layer{
  position: absolute;
  display: block;
  width: 100%;
  height:100%;
}
.hero-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(75vh - 73px);
  background: #f5f5f5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow: hidden;
}

.hero-blurb {
  display: block;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-shapes {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.circle, .sm-circle, .lg-circle {
  position: absolute;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.circle:hover,
.sm-circle:hover,
.lg-circle:hover{
  border-radius: 8px;
}
.circle {
  width: 3.60em;
  height: 3.60em;
  top: 19%;
  right: 15%;
  -webkit-transition: leff 0.2s ease, top 0.2s ease, border-radius 0.3s ease;
  -o-transition: leff 0.2s ease, top 0.2s ease, border-radius 0.3s ease;
  transition: leff 0.2s ease, top 0.2s ease, border-radius 0.3s ease;
}

.sm-circle {
  width: 2em;
  height: 2em;
  bottom: 82%;
  left: 22%;
  -webkit-transition: left 0.24s ease, border-radius 0.3s ease;
  -o-transition: left 0.24s ease, border-radius 0.3s ease;
  transition: left 0.24s ease, border-radius 0.3s ease;
}

.circle, .sm-circle.blue, .lg-circle.blue {
  background: #007bff;
}

.circle.red, .sm-circle.red, .lg-circle.red {
  background: #dc3545;
}

.circle.green, .sm-circle.green, .lg-circle.green {
  background: #00BF50;
  bottom: 2%;
  right: 33%;
}

.lg-circle {
  width: 5em;
  height: 5em;
  -webkit-transition: top 0.3s ease, border-radius 0.3s ease;
  -o-transition: top 0.3s ease, border-radius 0.3s ease;
  transition: top 0.3s ease, border-radius 0.3s ease;
}

.square, .sm-square, .lg-square {
  position: absolute;
  display: block;
}

.square {
  width: 15em;
  height: 15em;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, 0.41, 0.14, 1.24);
  transition: -webkit-transform 0.6s cubic-bezier(0.68, 0.41, 0.14, 1.24);
  -o-transition: transform 0.6s cubic-bezier(0.68, 0.41, 0.14, 1.24);
  transition: transform 0.6s cubic-bezier(0.68, 0.41, 0.14, 1.24);
  transition: transform 0.6s cubic-bezier(0.68, 0.41, 0.14, 1.24), -webkit-transform 0.6s cubic-bezier(0.68, 0.41, 0.14, 1.24);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.square:hover {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}
.square.purple, .sm-square.purple, .lg-square.purple {
  background: #3a56d4;
}

.sm-square {
  width: 3em;
  height: 3em;
  bottom: 47%;
  left: 3%;
  -webkit-transform: rotate(123deg);
      -ms-transform: rotate(123deg);
          transform: rotate(123deg);
}

.sm-square.green-bl {
  background: #00BFAF;
}

.lg-square {
  bottom: -39%;
  left: -15%;
  width: 37em;
  height: 32em;
  background: #E01010;
  -webkit-transform: rotate(78deg);
      -ms-transform: rotate(78deg);
          transform: rotate(78deg);
}

/**
 * * * S I D E B A R   S T Y L E S * * *
**/
.site-nav--wrapper{
  position: absolute;
  display: block;
  top: 708px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.site-nav--wrapper.sticky{
  top: 0;
  position: fixed;
}
.site-nav--wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  bottom: 0;
  z-index: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease;
  background-image: linear-gradient(to right top, #9ea1f5, #7d9be9, #5d94da, #3d8dc9, #1984b6);
}
.site-nav--wrapper.opened::after{
  opacity: 0.92;
}
.sidebar{
  position: absolute;
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 1;
}
.sidebar--in__top{
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 10em;
  justify-content: space-between;
  z-index: 2;
  opacity: 0;
  transition: all 0.35s ease;
}
.site-nav--wrapper.opened .sidebar--in__top {
  opacity: 1;
  padding: 2em 10em;
}
.sidebar--in__left {
  top: 0;
  left: 0;
  width: 3vw;
  height: 100%;
  opacity: 1;
  border-color: #eee;
  justify-content: center;
  transition: all 0.34s cubic-bezier(0.66, 0.13, 0.04, 0.96);
}
.site-nav--wrapper.sticky .sidebar--in__left{
  border-right: 1px solid #eee;
}
.site-nav--wrapper.opened .sidebar--in__left {
  opacity: 1;
  width: 50vw;
}
.sidebar-controls {
  position: absolute;
  left: 2vw;
}
.sidebar--in__bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  justify-content: center;
  padding: 1em 7em;
  opacity: 0;
  transition: all 0.35s ease;
}
.site-nav--wrapper.opened .sidebar--in__bottom {
  opacity: 1;
  padding: 2em 7em;
}
.sidebar--in__right {
  top: 0;
  right: 0;
  height: 100%;
  width: 2vw;
  opacity: 0;
  transition: all 0.34s cubic-bezier(0.66, 0.13, 0.04, 0.96);
  justify-content: center;
}
.site-nav--wrapper.opened .sidebar--in__right {
  opacity: 1;
  width: 8vw;
}
.sidebar--link{
  display: block;
  color: #2d2d2d;
  font-size: 2em;
}
.bold{
  font-weight: 800;
}
.sidebar-content {
  display: none;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease 0.12s;
}
.site-nav--wrapper.opened .sidebar-content{
  display: block;
  opacity: 1;
}
.sidebar--link.sm {
  font-size: 1em;
}
.toggle-btn{
  cursor: pointer;
}
.menu-line{
  background: #2d2d2d;
  display: flex;
  width: 25px;
  margin: 0.25em auto;
  height: 2px;
}
.social-list{
  list-style: none;
}
.social-list--item {
  margin: 0.5em 0;
}
.social-list--link {
  color: #7d9be9;
}


/**
 * * * Media Queries * * *
**/
@media (min-width: 576px) {
.grid-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.667%;flex:0 0 16.667%;max-width:16.667%}
.grid-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.grid-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.33%;flex:0 0 33.33%;max-width:33.33%}
.grid-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.667%;flex:0 0 41.667%;max-width:41.667%}
.grid-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.grid-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.33%;flex:0 0 58.33%;max-width:58.33%}
.grid-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.667%;flex:0 0 66.667%;max-width:66.667%}
.grid-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.grid-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.33%;flex:0 0 83.33%;max-width:83.33%}
.grid-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.667%;flex:0 0 91.667%;max-width:91.667%}
.grid-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: 768px) {
.grid-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.667%;flex:0 0 16.667%;max-width:16.667%}
.grid-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.grid-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.33%;flex:0 0 33.33%;max-width:33.33%}
.grid-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.667%;flex:0 0 41.667%;max-width:41.667%}
.grid-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.grid-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.33%;flex:0 0 58.33%;max-width:58.33%}
.grid-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.667%;flex:0 0 66.667%;max-width:66.667%}
.grid-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.grid-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.33%;flex:0 0 83.33%;max-width:83.33%}
.grid-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.667%;flex:0 0 91.667%;max-width:91.667%}
.grid-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
/*Small devices*/
@media (min-width: 768px) and (max-width: 991px) {
  .container{
    width: 750px;
  }
}
/*Medium Devices*/
@media (min-width: 992px) and (max-width: 1199px) {
  .container{
    width: 970px;
  }
}
/*Large Devices*/
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}
